@import "tailwindcss";

@theme {
    --color-primary-1: #04011a;
    --color-primary-2: #00002b;
    --color-primary-3: #0a033b;
}

@layer components {
    .container-modern {
        @apply rounded-xl p-4 flex flex-col items-center
           border border-gray-800
           bg-gray-900/50
           backdrop-blur-sm
           shadow-md hover:shadow-lg
           transition-all duration-300;
    }
}

@layer components {
    .btn-modern {
        @apply bg-white text-primary-1 font-bold 
      px-6 py-2 rounded-xl 
      border border-gray-200 shadow-sm 
      hover:bg-gray-50 active:scale-95 
      transition duration-150 
      w-32 
      cursor-pointer 
      focus:outline-none focus:ring-2 focus:ring-primary-3 focus:ring-offset-1;

        /* Responsive adjustments */
        @apply text-sm px-4 py-2 w-28 sm:text-base sm:px-5 sm:py-2.5 sm:w-32 md:text-lg md:px-6 md:py-3 md:w-36;
    }
}

@layer utilities {
    .input-field {
        @apply sm:px-4 sm:py-2 py-2 px-3 rounded-lg border border-gray-400 
           sm:text-sm text-xs text-white
           focus:outline-none focus:ring-2 focus:ring-primary-3 focus:ring-offset-1
           transition duration-150;
    }
}

.kode-mono-regular {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kode-mono-bold {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
