@import "tailwindcss";

@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
    --font-size-xs: 0.625rem; /* 10px */
    --font-size-sm: 0.75rem; /* 12px */
    --font-size-base: 0.875rem; /* 14px */
    --font-size-lg: 1rem; /* 16px */
    --font-size-xl: 1.125rem; /* 18px */
    --font-size-2xl: 1.25rem; /* 20px */
    --font-size-3xl: 1.5rem; /* 24px */
    --font-size-4xl: 1.75rem; /* 28px */
    --font-size-5xl: 2rem; /* 32px */
    --font-size-6xl: 2.5rem; /* 40px */

    --color-accent-light: #ffd6a5;
    --color-accent: #ffab00;
    --color-accent-dark: #cc8800;
}
